* {
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: url("../Stars_svg.svg");
}

.mothership {
  height: 100px;
  width: 200px;
  border: solid 2px greenyellow;
  background-color: cornflowerblue;
  color: white;
  border-radius: 15px;
  margin-top: 200px;
}

.mothership-hidden {
  display: none;
  visibility: hidden;
  height: 100px;
  width: 200px;
  border: solid 2px greenyellow;
  background-color: cornflowerblue;
  color: white;
  border-radius: 15px;
  margin-top: 200px;
}

.mothership-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.defenceship {
  height: 100px;
  width: 180px;
  border: solid 2px greenyellow;
  background-color: purple;
  margin-top: 50px;
  margin-right: 10px;
  border-radius: 15px;
  color: white;
}

.defenceship-hidden {
  display: none;
  visibility: hidden;
  height: 100px;
  width: 180px;
  border: solid 2px greenyellow;
  background-color: purple;
  margin-top: 50px;
  margin-right: 10px;
  border-radius: 15px;
  color: white;
}

#defenceship {
  display: flex;
}

.defenceship-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#attackship {
  display: flex;
}
.attackship {
  display: block;
  visibility: visible;
  height: 100px;
  width: 180px;
  border: solid 2px greenyellow;
  background-color: grey;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  border-radius: 15px;
  color: white;
}

.attackship-hidden {
  display: none;
  visibility: hidden;
  height: 100px;
  width: 180px;
  border: solid 2px greenyellow;
  background-color: grey;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  border-radius: 15px;
  color: white;
}

.ships-hidden {
  display: none;
  visibility: hidden;
}

.ships {
  display: block;
  visibility: visible;
}

.attackship-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#game-btn {
  height: 150px;
  width: 200px;
  border: solid 2px greenyellow;
  background-color: orange;
  color: white;
}
.game-btn-hidden {
  display: none;
  visibility: hidden;
  height: 150px;
  width: 200px;
  border: solid 2px greenyellow;
  background-color: orange;
  color: white;
}
.game-btn {
  display: block;
  visibility: visible;
  height: 150px;
  width: 200px;
  border: solid 2px greenyellow;
  background-color: orange;
  color: white;
}
#button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

#overlay-gameover {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
}

#text {
  /* position: absolute; */
  margin-top: 400px;
  top: 50%;
  left: 50%;
  font-size: 100px;
  color: white;
  align-items: center;
  text-align: center;
}

#overlay_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  height: 100px;
  width: 200px;
  border: 2px solid orange;
  border-radius: 15px;
  font: bold;
  background-color: orange;
  margin: 30px;
  box-shadow: black;
  color: white;
}

/* #ships {
  height: 200px;
  width: 200px;
  border: 2px solid yellow;
} */
