* {
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: url("../Stars_svg.svg");
}

.mothership {
  background-color: cornflowerblue;
  margin-top: 200px;
}
.mothership,
.attackship,
.defenceship,
#game-btn,
.game-btn-orange,
button {
  height: 100px;
  width: 200px;
  border: solid 2px greenyellow;
  color: white;
  border-radius: 15px;
  margin-top: 50px;
  margin-right: 10px;
}

.button-container > #game-btn,
.game-btn-orange,
button {
  background-color: orange;
  border: 2px solid orange;
}
.mothership-hidden,
.defenceship-hidden,
.attackship-hidden,
.game-btn-orange-hidden,
.ships-hidden {
  display: none;
  visibility: hidden;
}

.mothership-container,
.defenceship-container,
.attackship-container,
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-container {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 15em;
  /* width: 8em; */
  /* margin-top: -2.5em; */
}

.defenceship {
  background-color: purple;
}

#defenceship,
#attackship {
  display: flex;
}
.attackship {
  background-color: grey;
}

#overlay-gameover {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.7); Black background with opacity */
}

#text {
  /* position: absolute; */
  margin-top: 400px;
  top: 50%;
  left: 50%;
  font-size: 100px;
  color: white;
  align-items: center;
  text-align: center;
}
